/* 40BEDD,40BEDD,40BEDD */
:root {
    --main-color: #40BEDD;
    --default-grey: #6b6b6b;
    --default-white: #ffffff;
}

header {
    text-align: center;
}

header img {
    width: 70px;
    height: 70px;
    height: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 70px;
    height: 30px;
}

footer {
    max-height: 8vh;
}

/* #tooltipBtn {
    border-radius: 50%;
} */

.past-likes {
    display: flex;
    padding: 10px;
}

.past-likes img {
    margin-right: 10px;
    display: block;
}

.past-likes span {
    vertical-align: middle;
    padding-left: 10px;
}


#settingsDiv {
    /* min-width: 310px; */
    background: var(--default-white);
}


#pastLikesDiv > a {
    color: black;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-decoration: none;
}

#pastLikesDiv > a:last-child {
    border: 0px;
}

#pastLikesDiv > a:hover {
    color: rgb(46, 88, 200);
}

#pastLikesDiv > a img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

.hideAndSettings,
.likeAndDislikeBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#showModal,
#likeBtn {
    background-color: var(--default-white);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

#showHideBtn,
#dislikeBtn {
    color: var(--default-grey);
    border: 1px solid var(--default-grey);
}

#showModal:hover,
#likeBtn:hover {
    color: var(--default-white);
    border: 0px;
    background-color: var(--main-color);
}

#showHideBtn:hover,
#dislikeBtn:hover {
    color: var(--default-white);
    background: var(--default-grey);
}

#petPhoto {
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
}

#petDataHolder {
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color: #40BEDD;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#petDataHolder p {
    color:#ffffff
}
