/* 40BEDD,40BEDD,40BEDD */
:root {
    --main-color: #1599d6;
    --default-dark-grey: #575757;
    --default-grey: #6b6b6b;
    --dafault-light-grey: #cfcfcf;
    --default-white: #ffffff;
}

header {
    text-align: center;
}

header img {
    width: 70px;
    height: 70px;
    height: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 70px;
    height: 30px;
}

footer {
    max-height: 8vh;
}

/* #tooltipBtn {
    border-radius: 50%;
} */

.past-likes {
    display: flex;
    padding: 10px;
}

.past-likes img {
    margin-right: 10px;
    display: block;
}

.past-likes span {
    vertical-align: middle;
    padding-left: 10px;
}

#pastLikesDiv > div {
    color: var(--default-white);
    border-bottom: 1px solid #cfcfcf;
    text-decoration: none;
}

#pastLikesDiv > div a {
    color: var(--main-color);
    text-decoration: none;
}

#pastLikesDiv > div:last-child {
    border-bottom: 0px;
}

#pastLikesDiv > div:hover a {
    color: var(--main-color);
}

#pastLikesDiv > a img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

.likeAndDislikeBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.hideAndSettings {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#showModal,
#likeBtn {
    background-color: var(--default-white);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

#showHideBtn,
#dislikeBtn {
    color: var(--default-grey);
    border: 1px solid var(--default-grey);
}

#showModal:hover,
#likeBtn:hover {
    color: var(--default-white);
    border: 0px;
    background-color: var(--main-color);
}

#showHideBtn:hover,
#dislikeBtn:hover {
    color: var(--default-white);
    background: var(--default-grey);
}

#petPhoto {
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
}

#right-side-of-card {
    padding-left: 3vw;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color: var(--main-color);
    color: var(--default-white);
}

#right-side-of-card > div {
    height: 50%;
}

#right-side-of-card * {
    color:var(--default-white)
}

.pet-data {
    height: 50%;
    width:100%
}

.card-title {
    font-size: 3rem;
}

.card-subtitle {
    font-size: 2rem;
}

.card-text {
    font-size: 1.75rem;
}

.delete-button {
    border-radius: 50%;
    border: 2px solid var(--dafault-light-grey);
    color: var(--dafault-light-grey);
}

.delete-button:hover {
    color: var(--default-white);
    background: rgb(255, 115, 115);
    border: 0px;
    cursor: pointer;
}

.past-liked-photo {
    border-radius: 50%;
}

.past-liked-photo img {
    border: 3px solid var(--main-color);
    padding: 3px;
    width: 64px;
    height: 64px;
    border-radius:50%;
}

#pastLikesDiv span strong {
    color: var(--default-dark-grey);
}

#pastLikesDiv span {
    color: var(--default-grey);
}