header {
    text-align: center;
}

header img {
    width: 70px;
    height: 70px;
    height: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 70px;
    height: 30px;
}

/* #tooltipBtn {
    border-radius: 50%;
} */

.past-likes {
    display: flex;
    padding: 10px;
}

.past-likes img {
    margin-right: 10px;
    display: block;
}

.past-likes span {
    vertical-align: middle; 
    padding-left: 10px;
}
